#cover{
    width: 180px;
    height: 180px;
    box-shadow: 0 8px 8px -4px rgb(74, 74, 74);
}
#list{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

#songinfo{
    display: grid;
    flex-direction: column;
    width: 300px;
    height: 60px;
    margin: 0;
}

#song-container{
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}
